@model object

@{
    var templateHelper = new BootstrapExtensionsMVC.Helpers.EditorTemplateHelper(ViewBag.formGroupSize, ViewBag.labelWidth);
}

<div class="form-group @templateHelper.FormGroupCssClass @(Html.ValidationErrorFor(m => m, " has-error"))">

    @{
        if (string.IsNullOrEmpty(templateHelper.LabelCssClass))
        {
            @Html.Raw("<div class=\"col-md-12\">");
        @Html.LabelFor(m => m, new { @class = "control-label " + templateHelper.LabelCssClass });
        }
        else
        {
            @Html.LabelFor(m => m, new { @class = "control-label " + templateHelper.LabelCssClass });
        @Html.Raw("<div class=\"" + @templateHelper.FieldCssClass + "\">");
        }

        @Html.PasswordFor(m => m, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m, null, new { @class = "text-danger" });

        @Html.Raw("</div>");
    }
</div>

@*<div class="form-group @(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.PasswordFor(m => m, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m, null, new { @class = "text-danger" })
    </div>
</div>*@

