@model object

@{
    var templateHelper = new BootstrapExtensionsMVC.Helpers.EditorTemplateHelper(ViewBag);
}

<div class="form-group @templateHelper.FormGroupCssClass @(Html.ValidationErrorFor(m => m, " has-error"))">

    @{
        if (string.IsNullOrEmpty(templateHelper.LabelCssClass))
        {
            @Html.Raw("<div class=\"col-md-12\">");
        @Html.LabelFor(m => m, templateHelper.LabelHtmlAttributes);
        }
        else
        {
            @Html.LabelFor(m => m, templateHelper.LabelHtmlAttributes);
        @Html.Raw("<div class=\"" + @templateHelper.FieldCssClass + "\">");
        }

        @Html.TextBoxFor(m => m, templateHelper.InputHtmlAttributes);
        @Html.ValidationMessageFor(m => m, null, new { @class = "text-danger" });

        @Html.Raw("</div>");
    }
</div>